includes:
  - phpstan-baseline.neon
parameters:
  phpVersion: 80400
  level: 7
  paths:
    - _config.php
    - src
    - tests
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  silverstan:
    includeTestOnly: true
  ignoreErrors:
    -
      identifier: missingType.iterableValue
